/* #region Base styles */
body {
  font-family: "Roboto", "Raleway";
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #434455;
}
/* #endregion Base styles*/

/* #region header */
.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-part {
  color: #2e2f42;
}
.nav-list-link {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 500;
}
.nav-list-link:hover {
  color: #404bbf;
}
.nav-list-link:active {
  color: #404bbf;
}
.nav-address-link:hover {
  color: #404bbf;
}

/* #endregion header */

/* #region hero seciton */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}
.button {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* #endregion hero section */

/* #region features section*/
.benefits {
  background-color: #ffffff;
}
.benefits-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
/* #endregion features section*/

/* #region our team */
.team {
  background-color: #f4f4fd;
}
.our-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
}
.team-member {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

/* #endregion our team*/

/* #region portfolio*/
.portfolio {
  background-color: #ffffff;
}
.our-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
}
.project-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
/* #endregion portfolio*/

/* #region footer */
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-footer-part {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
/* #endregion footer */
